:root {
  --ft9-bold-font-family: "Van Condensed Pro", Helvetica;
  --ft9-bold-font-weight: 700;
  --ft9-bold-font-size: 9px;
  --ft9-bold-letter-spacing: 2.25px;
  --ft9-bold-line-height: 94.9999988079071%;
  --ft9-bold-font-style: normal;
  --f10-regular-font-family: "Van Condensed Pro", Helvetica;
  --f10-regular-font-weight: 400;
  --f10-regular-font-size: 10px;
  --f10-regular-letter-spacing: 1.5px;
  --f10-regular-line-height: 100%;
  --f10-regular-font-style: normal;
  --ft10-bold-font-family: "Van Condensed Pro", Helvetica;
  --ft10-bold-font-weight: 700;
  --ft10-bold-font-size: 10px;
  --ft10-bold-letter-spacing: 1.5px;
  --ft10-bold-line-height: 100%;
  --ft10-bold-font-style: normal;
  --ft12-regular-font-family: "Van Condensed Pro", Helvetica;
  --ft12-regular-font-weight: 400;
  --ft12-regular-font-size: 12px;
  --ft12-regular-letter-spacing: 2.4px;
  --ft12-regular-line-height: 120.00000476837158%;
  --ft12-regular-font-style: normal;
  --ft12-regular-caps-font-family: "Van Condensed Pro", Helvetica;
  --ft12-regular-caps-font-weight: 400;
  --ft12-regular-caps-font-size: 12px;
  --ft12-regular-caps-letter-spacing: 2.4px;
  --ft12-regular-caps-line-height: 120.00000476837158%;
  --ft12-regular-caps-font-style: normal;
  --ft12-bold-font-family: "Van Condensed Pro", Helvetica;
  --ft12-bold-font-weight: 700;
  --ft12-bold-font-size: 12px;
  --ft12-bold-letter-spacing: 2.16px;
  --ft12-bold-line-height: 120.00000476837158%;
  --ft12-bold-font-style: normal;
  --ft12-bold-BIS-font-family: "Van Condensed Pro", Helvetica;
  --ft12-bold-BIS-font-weight: 700;
  --ft12-bold-BIS-font-size: 12px;
  --ft12-bold-BIS-letter-spacing: 3.6px;
  --ft12-bold-BIS-line-height: 120.00000476837158%;
  --ft12-bold-BIS-font-style: normal;
  --ft13-regular-font-family: "Van Condensed Pro", Helvetica;
  --ft13-regular-font-weight: 400;
  --ft13-regular-font-size: 13px;
  --ft13-regular-letter-spacing: 1.95px;
  --ft13-regular-line-height: 139.9999976158142%;
  --ft13-regular-font-style: normal;
  --ft13-regular-caps-font-family: "Van Condensed Pro", Helvetica;
  --ft13-regular-caps-font-weight: 400;
  --ft13-regular-caps-font-size: 13px;
  --ft13-regular-caps-letter-spacing: 1.95px;
  --ft13-regular-caps-line-height: 139.9999976158142%;
  --ft13-regular-caps-font-style: normal;
  --ft13-bold-font-family: "Van Condensed Pro", Helvetica;
  --ft13-bold-font-weight: 700;
  --ft13-bold-font-size: 13px;
  --ft13-bold-letter-spacing: 1.95px;
  --ft13-bold-line-height: 120.00000476837158%;
  --ft13-bold-font-style: normal;
  --ft14-regular-font-family: "Van Condensed Pro", Helvetica;
  --ft14-regular-font-weight: 400;
  --ft14-regular-font-size: 14px;
  --ft14-regular-letter-spacing: 2.8px;
  --ft14-regular-line-height: 120.00000476837158%;
  --ft14-regular-font-style: normal;
  --ft14-regular-CAPS-font-family: "Van Condensed Pro", Helvetica;
  --ft14-regular-CAPS-font-weight: 400;
  --ft14-regular-CAPS-font-size: 14px;
  --ft14-regular-CAPS-letter-spacing: 2.8px;
  --ft14-regular-CAPS-line-height: 120.00000476837158%;
  --ft14-regular-CAPS-font-style: normal;
  --ft14-bold-font-family: "Van Condensed Pro", Helvetica;
  --ft14-bold-font-weight: 700;
  --ft14-bold-font-size: 14px;
  --ft14-bold-letter-spacing: 2.8px;
  --ft14-bold-line-height: 150%;
  --ft14-bold-font-style: normal;
  --ft14-bold-BIS-font-family: "Van Condensed Pro", Helvetica;
  --ft14-bold-BIS-font-weight: 700;
  --ft14-bold-BIS-font-size: 14px;
  --ft14-bold-BIS-letter-spacing: 4.9px;
  --ft14-bold-BIS-line-height: 150%;
  --ft14-bold-BIS-font-style: normal;
  --ft16-regular-font-family: "Van Condensed Pro", Helvetica;
  --ft16-regular-font-weight: 400;
  --ft16-regular-font-size: 16px;
  --ft16-regular-letter-spacing: 3.2px;
  --ft16-regular-line-height: 120.00000476837158%;
  --ft16-regular-font-style: normal;
  --ft16-regular-CAPS-font-family: "Van Condensed Pro", Helvetica;
  --ft16-regular-CAPS-font-weight: 400;
  --ft16-regular-CAPS-font-size: 16px;
  --ft16-regular-CAPS-letter-spacing: 3.2px;
  --ft16-regular-CAPS-line-height: 120.00000476837158%;
  --ft16-regular-CAPS-font-style: normal;
  --ft16-bold-font-family: "Van Condensed Pro", Helvetica;
  --ft16-bold-font-weight: 700;
  --ft16-bold-font-size: 16px;
  --ft16-bold-letter-spacing: 3.2px;
  --ft16-bold-line-height: 120.00000476837158%;
  --ft16-bold-font-style: normal;
  --ft16-bold-BIS-font-family: "Van Condensed Pro", Helvetica;
  --ft16-bold-BIS-font-weight: 700;
  --ft16-bold-BIS-font-size: 16px;
  --ft16-bold-BIS-letter-spacing: 6.4px;
  --ft16-bold-BIS-line-height: 120.00000476837158%;
  --ft16-bold-BIS-font-style: normal;
  --ft18-bold-font-family: "Van Condensed Pro", Helvetica;
  --ft18-bold-font-weight: 700;
  --ft18-bold-font-size: 18px;
  --ft18-bold-letter-spacing: 2.52px;
  --ft18-bold-line-height: 120.00000476837158%;
  --ft18-bold-font-style: normal;
  --ft18-bold-BIS-font-family: "Van Condensed Pro", Helvetica;
  --ft18-bold-BIS-font-weight: 700;
  --ft18-bold-BIS-font-size: 18px;
  --ft18-bold-BIS-letter-spacing: 4.32px;
  --ft18-bold-BIS-line-height: 120.00000476837158%;
  --ft18-bold-BIS-font-style: normal;
  --ft20-regular-font-family: "Van Condensed Pro", Helvetica;
  --ft20-regular-font-weight: 400;
  --ft20-regular-font-size: 20px;
  --ft20-regular-letter-spacing: 2.6px;
  --ft20-regular-line-height: 139.9999976158142%;
  --ft20-regular-font-style: normal;
  --ft20-bold-font-family: "Van Condensed Pro", Helvetica;
  --ft20-bold-font-weight: 700;
  --ft20-bold-font-size: 20px;
  --ft20-bold-letter-spacing: 2.6px;
  --ft20-bold-line-height: 110.00000238418579%;
  --ft20-bold-font-style: normal;
  --ft20-bold-bis-font-family: "Van Condensed Pro", Helvetica;
  --ft20-bold-bis-font-weight: 700;
  --ft20-bold-bis-font-size: 20px;
  --ft20-bold-bis-letter-spacing: 5px;
  --ft20-bold-bis-line-height: 189.9999976158142%;
  --ft20-bold-bis-font-style: normal;
  --ft22-bold-font-family: "Van Condensed Pro", Helvetica;
  --ft22-bold-font-weight: 700;
  --ft22-bold-font-size: 22px;
  --ft22-bold-letter-spacing: 2.86px;
  --ft22-bold-line-height: 110.00000238418579%;
  --ft22-bold-font-style: normal;
  --ft22-bold-bis-font-family: "Van Condensed Pro", Helvetica;
  --ft22-bold-bis-font-weight: 700;
  --ft22-bold-bis-font-size: 22px;
  --ft22-bold-bis-letter-spacing: 5.5px;
  --ft22-bold-bis-line-height: 189.9999976158142%;
  --ft22-bold-bis-font-style: normal;
  --ft24-bold-font-family: "Van Condensed Pro", Helvetica;
  --ft24-bold-font-weight: 700;
  --ft24-bold-font-size: 24px;
  --ft24-bold-letter-spacing: 6px;
  --ft24-bold-line-height: 129.99999523162842%;
  --ft24-bold-font-style: normal;
  --ft26-bold-font-family: "Van Condensed Pro", Helvetica;
  --ft26-bold-font-weight: 700;
  --ft26-bold-font-size: 26px;
  --ft26-bold-letter-spacing: 6.5px;
  --ft26-bold-line-height: 129.99999523162842%;
  --ft26-bold-font-style: normal;
  --ft38-bold-font-family: "Van Condensed Pro", Helvetica;
  --ft38-bold-font-weight: 700;
  --ft38-bold-font-size: 38px;
  --ft38-bold-letter-spacing: 9.5px;
  --ft38-bold-line-height: 125%;
  --ft38-bold-font-style: normal;
  --ft42-bold-font-family: "Van Condensed Pro", Helvetica;
  --ft42-bold-font-weight: 700;
  --ft42-bold-font-size: 42px;
  --ft42-bold-letter-spacing: 10.5px;
  --ft42-bold-line-height: 129.99999523162842%;
  --ft42-bold-font-style: normal;
  --brand-red-brand: rgba(226, 37, 29, 1);
  --brand-blue-brand: rgba(0, 51, 153, 1);
  --brand-yellow-brand: rgba(255, 209, 47, 1);
  --brand-green-brand: rgba(94, 162, 31, 1);
  --brand-orange-brand: rgba(232, 119, 34, 1);
  --brand-purple-brand: rgba(143, 72, 149, 1);
  --brand-brown-brand: rgba(168, 90, 40, 1);
  --brand-black-brand: rgba(35, 35, 35, 1);
  --brand-white-brand: rgba(240, 240, 230, 1);
  --interface-white-100: rgba(255, 255, 255, 1);
}
