<!-- Newsletter Sidebar -->
<section class="news-letter">
  <div class="overlap-4"></div>
  <h2 class="text-wrapper-14">Sign up</h2>
  <p class="for-our-weekly">for our weekly <br /> newsletter!</p>
  <div class="NL">
    <div class="overlap-group-2">
      <img class="vector" alt="" src="assets/home/NL.svg" />
    </div>
  </div>
  <button class="symboles-chevrons" type="button" aria-label="Subscribe">
    <div class="icon">
      <img class="vector-3" alt="" src="assets/header/Chevronbas.svg" />
    </div>
  </button>
</section>