<!-- Newsletter Bottom Section -->
<section class="newsletter-bottom">
  <div class="newsletter-icon">
    <img src="assets/home/NL.svg" alt="Newsletter Icon" />
  </div>
  <div class="newsletter-form">
    <div class="newsletter-input-container">
      <div class="newsletter-border"></div>
      <div class="newsletter-label">Your email</div>
      <div class="newsletter-placeholder">Input text</div>
    </div>
    <button class="newsletter-subscribe-btn" type="button">
      Subscribe
    </button>
  </div>
  <div class="newsletter-circle"></div>
  <div class="newsletter-text">
    for our weekly<br />newsletter!
  </div>
  <div class="newsletter-title">Sign up</div>
  <div class="newsletter-favicon">
    <img src="assets/header/Favicon.svg" alt="Favicon" />
  </div>
</section>